<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML-Clase2</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!--Este es mi navbar-->
    <header>
        <div>
            <h1>Futbol !!!!</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Usuarios</a></li>
            </ul>
        </nav>

        <div>
            <img src="../public/img/Sin título.png" alt="">
        </div>  
    </header>

    <!--Este es la seccion noticias-->
    <section>
        <div>
            <h4>Noticias sobre Futbol</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt in et vel perferendis laborum magnam ratione totam, eum natus nisi amet fugiat excepturi quaerat, aut illo dicta quasi corporis. Veniam?</p>
        </div>
    </section>
</body>
</html>